
  body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    
    .password-form {
      margin-top: 500px;
    }
    
    .password-input {
      padding: 10px;
      font-size: 32px;
    }
     
    .submit-button {
      padding: 10px 20px;
      font-size: 32px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
