 body {
      font-family: Arial, sans-serif;
    }

    h1 {
      margin-bottom: 25px;
    }

    #filterFormContainer {
      border: 1px solid #ccc;
      padding: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    #filterFormContainer label {
      cursor: pointer;
    }

    #filterFormContainer input[type="radio"],
    #filterFormContainer input[type="checkbox"] {
      display: none;
    }

    #filterFormContainer label span {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }

    /* 修改选中项的样式 */
    #filterFormContainer input[type="radio"]:checked + span,
    #filterFormContainer input[type="checkbox"]:checked + span {
      background-color: #87CEFA;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
      color: #333;
    }

    #resultsContainer {
      margin-top: 20px;
      /* 这里可以添加更多样式来美化结果区域 */
    }

    .product {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      /* 这里可以添加更多样式来美化商品卡片 */
    }
