
       .custom-popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 98%;
        border: 2px solid #ccc;
        background-color: white;
        z-index: 9999;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .custom-popup iframe {
        width: 100%;
         height: calc(100% - 40px); /* 减去警示信息的高度 */
        border: none;
    }
    .custom-popup .close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 80px;
        height: 40px;
        background-color: #f44336;
        border: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    .custom-popup .close-button:hover {
        background-color: #ff6659;
    }
    .warning {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 8px;
        background-color: #f44336;
        color: white;
        text-align: center;
        font-size: 13px;
        box-sizing: border-box;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }